<!DOCTYPE html>
<html>
  <head>
    <title>Dailylog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="flex flex-col space-y-4">
  <% if user_signed_in? %>
      <div class="flex flex-row place-content-end">
        <strong><%= current_user.email %></strong>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'%>
      </div>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Sign in", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
  <%= yield %>
  </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
